<div class="main">    

    <br>
    <img  src="../../../assets/logo.jpg" width="250" height="200" style="align-content: center;" >
    <br><br>
    <h1 style="text-align: center">Bienvenido </h1>
  
   <br>
  <table width="100%">
    <tr>
    <td>  <input type=image src="../../../assets/facturar.jpg" width="150" height="150"> <br> <h2>Facturar</h2></td>

    <td><input type=image src="../../../assets/clientes.png" width="150" height="150"><br> <h2>Clientes</h2></td>
    <td><input type=image src="../../../assets/productos.jpg" width="150" height="150"><br> <h2>Productos</h2></td>
    <td><input type=image src="../../../assets/informes.jpg" width="150" height="150"><br> <h2>Informes</h2></td>
    <td><input type=image src="../../../assets/admin.png" width="150" height="150"><br> <h2>Admin</h2></td>
    </tr>
    </table>

  
  
  
  

</div>
