div.fact{
background: #301A0D;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
text-align: center;
color: aliceblue;
}
.contenedor {
    width: 700px;
  }
  .cabecera {
      text-align: center;
  }
  .menu {
    float: left;
    width: 150px;
  }
  .contenido {
    float: left;
    width: 550px;
  }
  .pie {
    clear: both;
  }

  table td{
    width: 70px;
  }


  /* El título de los elementos de la lista */ 
ul li label.titulo {
  font-weight: bold;
}
 
ul li div span {
  float: left;
  padding: 0.3em 0;
}
 
ul li div span.completo {
  width: 100%;
}
 
ul li div span.mitad {
  width: 50%;
}
 
ul li div span.tercio {
  width: 33%;
}
 
ul li div span.dostercios {
  width: 66%;
}
ul li div span.todo {
  width: 99%;
}