
<div  class="fact" >
  <br><br>
    <h1 style="text-align: center">Facturacion</h1>
    <div class="contenedor" >
      <div class="cabecera" >
      </div>
    <br><br><br><br>
      <div class="menu">
          <button type="button" class="btn btn-secondary" style="width: 120px;height: 50px">Facturación</button>
          <br><br>
          <button type="button" class="btn btn-secondary" style="width: 120px;height: 50px">Productos</button>
          <br><br>
          <button type="button" class="btn btn-secondary" style="width: 120px;height: 50px">Clientes</button>
          <br><br>
          <button type="button" class="btn btn-secondary" style="width: 120px;height: 50px">Informes</button>
          <br><br>
          <button type="button" class="btn btn-secondary" style="width: 120px;height: 50px">Administración</button>
      </div>
      <div class="contenido">

          <span class="tercio">
              <input id="municipio" name="municipio" value="" />
              <label for="municipio">Municipio</label>
            </span>
            <span class="dostercios">
                <input id="municipio" name="municipio" value="" />
                <label for="municipio">Municipio</label>
              </span>
              <span class="dostercios">
                  <input id="municipio" name="municipio" value="" />
                  <label for="municipio">Municipio</label>
                </span>
       <!--    <table  cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="70%" >Documento Cliente</td>
                <td>
                  <input type="text">
                  <button>Buscar</button>
                </td>
                <td> <label for="">Cantidad</label></td> 
                 <td><input type="text"></td>
              
                 <td><select name="mediopago">
                    <option value="1">Medio de pago</option> 
                    <option value="2">Efectivo</option> 
                    <option value="3">Tarjeta</option>
                 </select>
                
                </td>
                </tr>
                <tr>
                <td width="70%">Tu Email: </td>
                <td width="50%"><input type="text" size="53" name="T2" value="email"></td>
                </tr>
                <tr>
                <td width="70%">Tu Web: </td>
                <td width="50%"><input type="text" size="53" name="T3" value="Web"></td>
              </tr>
            </table>-->
      <div class="pie">
      </div>
    </div>
  </div>








